<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1008970697456-edtkl9imljcmb47osjcm7kaibqji26oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008970697456-edtkl9imljcmb47osjcm7kaibqji26oj</string>
	<key>API_KEY</key>
	<string>AIzaSyDWdAjQy7-a-qHoUA8F1SALb8Xv0EIPOEA</string>
	<key>GCM_SENDER_ID</key>
	<string>1008970697456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asingh72.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7ffdb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7ffdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008970697456:ios:0d797c10d8aab6dc</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-7ffdb.firebaseio.com</string>
</dict>
</plist>